---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Series from "@components/Series.astro";
import getUniqueSeries from "@utils/getUniqueSeries";
import { SITE } from "@config";

const posts = await getCollection("blog");

let seriesList = getUniqueSeries(posts);
---

<Layout title={`Series | ${SITE.title}`}>
  <Header activeNav="series" />
  <Main pageTitle="Seriyalar" pageDesc="Maqolalar seriyalari">
    <ul>
      {
        seriesList.map(
          ({ series, seriesName, title, description, postCount }) => (
            <Series
              {series}
              {seriesName}
              {title}
              {description}
              {postCount}
              size="lg"
            />
          )
        )
      }
    </ul>
  </Main>
  <Footer />
</Layout>
