---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
  series: string;
  seriesName: string;
  title?: string;
  description?: string;
}

const {
  currentPage,
  totalPages,
  paginatedPosts,
  series,
  seriesName,
  title,
  description,
} = Astro.props;
---

<Layout title={`Series: ${title || seriesName} | ${SITE.title}`}>
  <Header activeNav="series" />
  <Main
    pageTitle={[`Series:`, `${title || seriesName}`]}
    titleTransition={series}
    pageDesc={description || `"${seriesName} seriyasidagi barcha maqolalar".`}
  >
    <h1 slot="title" transition:name={series}>
      {`Seriya:${title || seriesName}`}
    </h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/series/${series}${
      currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
    }/`}
    nextUrl={`/series/${series}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
